<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="hyoja.server.board.mapper.PitchersearchMapper">  
    
    <select id="pitchersearchList" parameterType="string" resultMap="hyoja.server.board.mapper.PitchermainMapper.pitchermainInfo">
    SELECT
        pm.*,
        pi.id as p_id,
        pi.team_id as p_team_id,
        pi.season_id as p_season_id,
        pi.name as p_name,
        pi.birthday as p_birthday,
        pi.salary as p_salary,
        team.id as p_t_id,
        team.name as p_t_name,
        team.image_id as p_t_image_id,
        season.id as p_s_id,
        season.team_id as p_s_team_id,
        season.name as p_s_name
    FROM pitcher_main_record pm JOIN pitcher pi on pm.pitcher_id = pi.id JOIN team on pi.team_id = team.id JOIN season on pi.season_id = season.id
    WHERE
        pi.name = #{name}
    </select>
  
  
</mapper>
