<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="hyoja.server.board.mapper.PitchermainMapper">

  <resultMap type="hyoja.server.board.domain.PitchermainVO" id="pitchermainBase">
    <id column="id" property="id" />
    <result column="pitcher_id" property="pitcher_id" />
    <result column="win" property="win" />
    <result column="lose" property="lose" />
    <result column="save" property="save" />
    <result column="hold" property="hold" />
    <result column="blown" property="blown" />
    <result column="game" property="game" />
    <result column="starting_pit" property="starting_pit" />
    <result column="inning" property="inning" />
    <result column="strikesouts" property="strikesouts" />
    <result column="bb" property="bb" />
    <result column="hr" property="hr" />
    <result column="lob" property="lob" />
    <result column="era" property="era" />
    <result column="ra9_war" property="ra9_war" />
    <result column="fip" property="fip" />
    <result column="kfip" property="kfip" />
    <result column="war" property="war" />
  </resultMap>

  <resultMap type="hyoja.server.board.domain.PitchermainVO" id="pitchermainInfo" extends="pitchermainBase">
    <association property="pitcher_recode" column="pitcher_id" javaType="hyoja.server.board.domain.PitcherVO" columnPrefix="p_" resultMap="hyoja.server.board.mapper.PitcherMapper.pitcherInfo"></association>
  </resultMap>   

  <select id="pitchermainList" resultMap="pitchermainInfo">
    SELECT
        pm.*,
        pi.id as p_id,
        pi.team_id as p_team_id,
        pi.season_id as p_season_id,
        pi.name as p_name,
        pi.birthday as p_birthday,
        pi.salary as p_salary
    FROM pitcher_main_record pm JOIN pitcher pi on pm.pitcher_id = pi.id
  </select>

  <select id="pitchermainDetail" parameterType="int" resultMap="pitchermainInfo">
    SELECT
        pm.*,
        pi.id as p_id,
        pi.team_id as p_team_id,
        pi.season_id as p_season_id,
        pi.name as p_name,
        pi.birthday as p_birthday,
        pi.salary as p_salary
    FROM pitcher_main_record pm JOIN pitcher pi on pm.pitcher_id = pi.id
    WHERE
        pm.id = #{pmno}
  </select>

  <select id="pitchermainList_team_season" resultMap="pitchermainInfo">
    SELECT
        pm.*,
        pi.id as p_id,
        pi.team_id as p_team_id,
        pi.season_id as p_season_id,
        pi.name as p_name,
        pi.birthday as p_birthday,
        pi.salary as p_salary,
        team.id as p_t_id,
        team.name as p_t_name,
        team.image_id as p_t_image_id,
        season.id as p_s_id,
        season.team_id as p_s_team_id,
        season.name as p_s_name
    FROM pitcher_main_record pm JOIN pitcher pi on pm.pitcher_id = pi.id JOIN team on pi.team_id = team.id JOIN season on pi.season_id = season.id
    WHERE
        team.name = #{team} AND season.name = #{season}
  </select>

    <select id="pitchermain_team_season_pmid" resultMap="pitchermainInfo">
    SELECT
        pm.*,
        pi.id as p_id,
        pi.team_id as p_team_id,
        pi.season_id as p_season_id,
        pi.name as p_name,
        pi.birthday as p_birthday,
        pi.salary as p_salary,
        team.id as p_t_id,
        team.name as p_t_name,
        team.image_id as p_t_image_id,
        season.id as p_s_id,
        season.team_id as p_s_team_id,
        season.name as p_s_name
    FROM pitcher_main_record pm JOIN pitcher pi on pm.pitcher_id = pi.id JOIN team on pi.team_id = team.id JOIN season on pi.season_id = season.id
    WHERE
        team.name = #{team} AND season.name = #{season} AND pm.id = #{pmid}
  </select>
  
</mapper>