<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="hyoja.server.board.mapper.PitcherMapper">

  <resultMap type="hyoja.server.board.domain.PitcherVO" id="pitcherBase">
    <id column="id" property="id" />
    <result column="team_id" property="team_id" />
    <result column="season_id" property="season_id" />
    <result column="name" property="name" />
    <result column="birthday" property="birthday" />
    <result column="salary" property="salary" />
  </resultMap>  

  <resultMap type="hyoja.server.board.domain.PitcherVO" id="pitcherInfo" extends="pitcherBase">
    <association property="team_recode" column="team_id" javaType="hyoja.server.board.domain.TeamVO" columnPrefix="t_" resultMap="hyoja.server.board.mapper.TeamMapper.teamInfo"></association>
    <association property="season_recode" column="season_id" javaType="hyoja.server.board.domain.SeasonVO" columnPrefix="s_" resultMap="hyoja.server.board.mapper.SeasonMapper.seasonInfo"></association>  
  </resultMap>  

  <select id="pitcherList" resultMap="pitcherInfo">
    SELECT
        pitcher.*,
        team.id as t_id,
        team.name as t_name,
        team.image_id as t_image_id,
        season.id as s_id,
        season.team_id as s_team_id,
        season.name as s_name
    FROM pitcher JOIN team ON pitcher.team_id = team.id JOIN season ON pitcher.season_id = season.id
  </select>
    
  <select id="pitcherDetail" parameterType="int" resultMap="pitcherInfo">
    SELECT
        pitcher.*,
        team.id as t_id,
        team.name as t_name,
        team.image_id as t_image_id,
        season.id as s_id,
        season.team_id as s_team_id,
        season.name as s_name
    FROM pitcher JOIN team ON pitcher.team_id = team.id JOIN season ON pitcher.season_id = season.id
    WHERE
        pitcher.id = #{pno}
  </select>    
  
</mapper>