<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="hyoja.server.board.mapper.TeamMapper">
  
  <resultMap type="hyoja.server.board.domain.TeamVO" id="teamBase">
    <id column="id" property="id" />
    <result column="name" property="name" />
  </resultMap>

  <resultMap type="hyoja.server.board.domain.TeamVO" id="teamInfo" extends="teamBase">
    <association property="image" column="image_id" javaType="hyoja.server.board.domain.ImageVO" columnPrefix="img_" resultMap="hyoja.server.board.mapper.ImageMapper.imageBase"></association>
  </resultMap>


  <select id="teamList" resultType="hyoja.server.board.domain.TeamVO">
    SELECT
        *
    FROM team te JOIN image im on te.image_id = im.id
  </select>
    
  <select id="teamDetail" parameterType="int" resultMap="teamInfo">
    SELECT
        te.*,
        im.id as img_id,
        im.data as img_data,
    FROM team te JOIN image im on te.image_id = im.id
    WHERE
        id = #{tno}
  </select>
</mapper>